<div class="uk-container">

  <h1>
    Politique de confidentialité et d'utilisation des cookies
  </h1>
Nous attachons une grande importance au respect de votre confidentialité et nous vous sommes reconnaissants de nous faire confiance pour protéger vos informations personnelles. Dans la présente Politique de confidentialité et d'utilisation des cookies, nous vous indiquons les informations que nous collectons à votre sujet, les raisons de cette collecte, ainsi que la manière dont nous protégeons ces informations. Nous y récapitulons également vos droits et vous indiquons comment les exercer le cas échéant, par exemple en contactant le service client Le Coq Funéraire.
Toutefois, cette politique ne s'applique pas à vos informations personnelles collectées par des sites web tiers susceptibles de publier des liens ou des publicités sur notre site web, ou accessibles d'une autre manière depuis notre site. Les informations collectées par ces sites web tiers sont soumises aux politiques de confidentialité de ces sites.
Qui sommes-nous ?
La partie désignée par « nous » ou « notre » dans la présente Politique de confidentialité et d'utilisation des cookies est Le Coq Funéraire dont le siège se situe à l'adresse suivante : 440 Rue de la Pièce Léger 21160 Marsannay-la-côte. Vous pouvez contacter notre agent chargé de la protection des données par e-mail à l'adresse support@lecoqfuneraire.fr.


Si vous souhaitez nous poser des questions d'ordre général sur notre site web, mettre à jour vos préférences marketing ou modifier vos informations personnelles, veuillez accéder à la page « Nous contacter » de ce site pour contacter notre service client.


<h1>
Quelles informations collectons-nous ?
</h1>
Dans cette section, nous vous indiquons les catégories d'informations collectées par Le Coq Funéraire, qu'elles soient collectées automatiquement ou que vous les ayez vous-même fournies de bon gré.
Informations collectées automatiquement :
• Votre adresse IP
• L'appareil et le navigateur web que vous utilisez
• Les données transmises par les applications que vous êtes susceptible de télécharger via notre site web
• La date et l'heure de votre visite sur notre site web, ainsi que la manière dont vous utilisez ce dernier et accédez à son contenu
• L'historique de vos achats et paiements (le cas échéant)


Si vous êtes enregistré en tant que client Le Coq Funéraire, nous associons ces données collectées automatiquement aux autres informations que nous collectons à votre sujet et qui sont décrites ci-après. Nous utilisons ces informations à différentes fins décrites ci-après.


Informations que vous fournissez lorsque vous créez un compte ou effectuez un achat :
• Votre nom
• Vos coordonnées (telles que votre adresse e-mail, votre adresse postale et vos numéros de téléphone)
• Votre mot de passe
• Vos informations de paiement (telles que les informations relatives à votre carte de paiement ou à votre compte bancaire)


Informations que vous fournissez lorsque vous personnalisez un produit
Lorsque vous personnalisez un produit sur notre site web, vous êtes susceptible de fournir du texte ou des images contenant des informations personnelles.


Informations que vous fournissez lorsque vous rédigez un avis ou contactez le service client
Si vous fournissez d'autres informations personnelles lorsque vous évaluez un produit, nous traitons toutes ces informations selon les Conditions générales d'utilisation des évaluations et des avis clients applicables. Veuillez noter que les avis clients publiés sur notre site web sont accessibles à tous. N'incluez donc pas d'informations que vous ne souhaitez pas partager publiquement.
Vous êtes également susceptible de fournir des informations personnelles lorsque vous contactez les agents de notre service client.
Vous avez la possibilité de ne pas fournir d'informations personnelles. Toutefois, si vous utilisez cette possibilité, vous risquez de ne pas pouvoir utiliser certaines fonctionnalités de notre site web ou de ne pas pouvoir commander nos produits. De même, si vous refusez que nous placions certains cookies sur votre appareil, vous n'aurez accès qu'à un nombre limité des fonctionnalités de notre site web (vous trouverez plus d'informations sur les cookies ci-après).


Notre site web n'est pas destiné aux enfants de moins de seize ans, et ces derniers n'ont pas le droit de créer de compte ni de fournir d'informations personnelles à leur sujet.


<h1>
  Pourquoi collectons-nous ces informations ?
</h1>
Nous utilisons les informations que nous collectons à votre sujet aux fins suivantes :
• Honorer votre commande et offrir le service client associé ;
• Maintenir, améliorer et administrer notre site web ;
• Vous informer des produits et services susceptibles de vous intéresser ;
• Proposer des offres cobrandées avec nos partenaires ;
• Améliorer ou personnaliser votre expérience en ligne, nos services et la façon dont nous communiquons avec vous ;
• Identifier et éviter les utilisations frauduleuses ;
• Améliorer la sécurité de notre réseau et de nos systèmes d'information ;
• Mieux comprendre la façon dont nos visiteurs utilisent notre site web, et déterminer l'efficacité de nos publicités et campagnes publicitaires.


<h1>
Qui a accès à vos informations ?
</h1>
Nous limitons l'accès à vos informations aux seuls employés qui ont besoin de les utiliser. Ils ont l'obligation de les protéger et d'en préserver la confidentialité.
Nous sommes également susceptibles de transmettre les informations que nous collectons à votre sujet à d'autres entreprises chargées de traiter ces informations pour notre compte. Elles nous assistent, par exemple, dans les tâches suivantes :
• Réalisation ou livraison de votre commande
• Stockage et sécurisation des données
• Traitement des paiements
• Activités de marketing, d'analyse et de détection des fraudes
• Service client


Nous sommes également susceptibles de partager vos informations, en application et dans le respect de la loi, si nous estimons que leur divulgation s'applique à la coopération lors d'investigations sur des activités déclarées illégales, à l'exécution de nos Conditions générales, ou à la protection de nos droits ou de notre propriété, ou de ceux d'un tiers.


Enfin, nous sommes susceptibles de partager vos informations personnelles avec un ou plusieurs tiers dans le cas d'une fusion, d'une acquisition ou d'une réorganisation d'entreprise nous concernant.

Combien de temps conservons-nous vos informations personnelles ?
Nous ne conservons vos informations personnelles que le temps nécessaire à la réalisation des fins pour lesquelles elles ont été fournies ou parce que nous avons l'obligation légale de le faire.


Quels sont vos droits en matière d'accès à vos informations personnelles et de contrôle de leur utilisation ?
Vous avez le droit
• d'accéder à vos informations personnelles ;
• de vous désabonner de nos opérations marketing ou de retirer tout consentement que vous nous aviez donné ;
• de demander un exemplaire des informations personnelles traitées par nos soins ;
• d'exiger la correction de vos informations personnelles ;
• d'exiger la suppression de vos informations personnelles (ou leur modification de telle manière que vous ne soyez plus identifiable) ou de limiter les façons dont nous pouvons utiliser vos informations personnelles (mais, dans les deux cas, uniquement dans des circonstances spécifiques prévues par la loi) ;
• de déposer une plainte auprès de l'autorité chargée de la protection des données dans votre pays.


<h1>
  Comment exercer ces droits ?
</h1>
Pour exercer l'un des droits listés ci-dessus, vous pouvez contacter notre service client. Pour ce faire, accédez à la page « Nous contacter » de ce site web.


Vous pouvez également exercer vous-même certains de ces droits en accédant à « Mon compte », en sélectionnant « Mise à jour du compte », puis en modifiant vos informations personnelles et vos préférences.


Enfin, vous pouvez également faire votre demande en écrivant à Le Coq Funéraire, 440 Rue de la Pièce Léger 21160 Marsannay-la-côte.  Veuillez indiquer vos nom, adresse e-mail, adresse postale et numéro de téléphone, ainsi que votre demande précise. Même si vous choisissez de faire partie des listes refus d'e-mail, refus d'appels et/ou refus de courrier, nous pouvons éventuellement vous faire parvenir des messages par l'un de ces biais concernant vos commandes, votre compte ou d'autres fins administratives.


<h1>
  Comment protégeons-nous vos informations personnelles ?
</h1>
Nous disposons de protections physiques et électroniques, et de procédures conçues pour nous aider à préserver la confidentialité de vos informations personnelles. Par exemple, nous utilisons la technologie de chiffrement SSL (Secure Socket Layer) pour chiffrer les informations de votre carte de paiement lorsque vous achetez des produits sur notre site web. Quand vous créez un compte Le Coq Funéraire, vous choisissez un mot de passe pour protéger les données de votre compte. Votre mot de passe doit être efficace et sécurisé. Vous pouvez changer ce mot de passe aussi souvent que vous le souhaitez en accédant à « Mon compte » et en choisissant « Mise à jour du compte ».


<h1>

  Que sont les cookies et pourquoi les utilisons-nous sur notre site web ?

</h1>
Les cookies sont de petits fichiers de données qui contiennent souvent un identifiant unique. Ils sont envoyés à votre appareil et stockés sur celui-ci lorsque vous visitez certaines pages web.  Les cookies sont utiles, car ils permettent au site web de reconnaître l'appareil de l'utilisateur.  Comme la plupart des sites web, notre site utilise des cookies qui, entre autres, vous permettent de naviguer efficacement entre les pages, se souviennent de vos préférences et, de manière générale, améliorent votre expérience sur notre site. Les cookies permettent aussi de garantir que les publicités que vous voyez en ligne sont pertinentes et en rapport avec vos centres d'intérêt.


Vous devez accepter les cookies sur votre ordinateur, tablette ou appareil mobile (« appareil ») pour profiter d'une bonne expérience de navigation sur notre site, commander des produits et utiliser des fonctionnalités personnalisées.


De plus, nous travaillons avec des sociétés tierces qui peuvent également placer des cookies sur votre appareil lors de votre visite sur notre site. Elles utilisent les informations collectées par leurs cookies pour diffuser des publicités sur différents produits et services auprès de vous. Elles peuvent aussi utiliser des cookies pour analyser votre comportement par rapport à ces publicités, pour mesurer l'efficacité de leurs publicités ou pour faire profiter les membres qui cliquent sur leurs publicités de promotions et d'offres.


Si vous n'acceptez pas les cookies, certaines fonctionnalités de notre site ne fonctionneront pas. Toutefois, si vous préférez contrôler ou supprimer les cookies de notre site web ou de tout autre site web, veuillez vous reporter à la section relative à la gestion des cookies ci-après.


<h1>
  Quels types de cookies utilisons-nous sur notre site web ?

</h1>
Notre site web utilise les types de cookies suivants :


Cookies strictement nécessaires


Ces cookies fournissent les services que vous avez expressément demandés sur notre site web, et ils sont essentiels pour vous permettre de naviguer sur notre site et d'utiliser ses fonctionnalités, telles que la commande et le paiement de produits.


Cookies de performance


Ces cookies collectent des informations anonymes sur les pages visitées. Ils collectent des informations sur la façon dont les visiteurs utilisent le site web, par exemple quelles sont les pages les plus visitées ou celles générant des messages d'erreur. Ils ne collectent pas d'informations permettant d'identifier un visiteur et sont uniquement utilisés pour améliorer le fonctionnement du site.


Cookies de fonctionnalité


Ces cookies permettent à notre site web de retenir vos choix (votre nom d'utilisateur, votre langue, le pays où vous vous trouvez, etc.) et de vous offrir des fonctionnalités plus personnelles et améliorées, telles que l'accès au portefeuille de produits que vous avez conçus ou commandés auprès de Le Coq Funéraire. Ils peuvent aussi être utilisés pour enregistrer les modifications que vous avez apportées à la taille du texte, la police et d'autres éléments de pages web que vous pouvez personnaliser.


Cookies publicitaires


Ces cookies sont utilisés pour diffuser des publicités plus pertinentes et en rapport avec vos centres d'intérêt. Ils sont également utilisés pour limiter le nombre de fois que vous voyez une publicité et aider à mesurer l'efficacité d'une campagne publicitaire. Ces cookies sont habituellement des cookies tiers.


Cookies tiers


Nous n'avons pas accès aux cookies utilisés par ces entreprises ou sites web tiers, et ne les contrôlons en aucune manière. Nous vous suggérons de consulter les sites web tiers pour obtenir de plus amples informations sur leurs cookies et la gestion de ces derniers.



<h1>
  Comment choisir les cookies placés sur votre appareil ?
</h1>
Les cookies vous permettent de profiter de certaines fonctionnalités essentielles de notre site, et nous vous recommandons de ne pas les désactiver. Veuillez noter que si vous désactivez ou supprimez certains cookies, notre site ne fonctionnera pas correctement.


Le menu d'aide dans la barre de menu de la plupart des navigateurs vous indiquera comment activer les cookies ou empêcher votre navigateur d'accepter de nouveaux cookies, comment faire pour que le navigateur vous avertisse si vous recevez un nouveau cookie et comment désactiver tous les cookies. Vous pouvez également désactiver ou supprimer des données similaires utilisées par les modules complémentaires de votre navigateur, telles que les cookies Flash, en modifiant les paramètres du module complémentaire ou en visitant le site web de son concepteur.


Si vous voulez en savoir plus sur les cookies tiers et éventuellement les désactiver, consultez les sites web www.allaboutcookies.org et www.youronlinechoices.eu.


Modifications apportées à la présente Politique de confidentialité et d'utilisation des cookies
Nous sommes susceptibles de modifier la présente Politique de confidentialité et d'utilisation des cookies lorsqu'il y a lieu, et nous publierons le cas échéant sa version modifiée sur notre site web. Nous nous réservons le droit de modifier cette politique à tout moment et vous prions donc de la consulter régulièrement.

</div>
