.uk-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box {
  background: rgba(105, 105, 105, 0.11);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uk-alert-danger p {
  font-size: 14px;
}

a {
  color: #ffff;
}
