
<div class="container ">
  <div class="uk-container">
      <div class="uk-grid  uk-margin-large-top uk-margin-large-bottom">
          <div class="uk-width-1-3 uk-visible@s">
              <div class="down-navbar">
                  <div class="categories">
                      <div class="links">
                        <a href="/vetements"> <span>Vêtements</span></a>
                        <a href="/pharmacie"> <span>Pharmacie</span></a>
                        <a href="/sport"> <span>Sport</span></a>
                        <a href="/supermarket"> <span>Supermarché</span></a>
                        <a href="/electronique"> <span>Electricité</span></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="uk-width-2-3@s img">
              <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: push">

                  <div class="uk-slideshow-items" uk-cover-container uk-slideshow="autoplay: true">
                      <div>
                          <img src="assets/img/footer2.jpg" alt="" uk-cover>
                          <div class="uk-overlay uk-overlay-defaut uk-position-bottom">
                              <p>Chez KFC le meilleur du poulet.</p>
                          </div>
                      </div>
                      <div>
                          <img src="assets/img/KFC-restaurant-drive-thru.jpg" alt="" uk-cover>
                          <div class="uk-overlay uk-overlay-defaut uk-position-bottom">
                              <p>Chez KFC le meilleur du poulet.</p>
                          </div>
                      </div>
                      <div>
                          <img src="assets/img/slider3.jpg" alt="" uk-cover>
                          <div class="uk-overlay uk-overlay-defaut uk-position-bottom">
                              <p>Chez KFC le meilleur du poulet.</p>
                          </div>
                      </div>
                      <div>
                        <img src="assets/img/slider1.jpg" alt="" uk-cover>
                        <div class="uk-overlay uk-overlay-defaut uk-position-bottom">
                            <p>Chez KFC le meilleur du poulet.</p>
                        </div>
                    </div>
                    <div>
                      <img src="assets/img/slider6.jpg" alt="" uk-cover>
                      <div class="uk-overlay uk-overlay-defaut uk-position-bottom">
                          <p>Chez KFC le meilleur du poulet.</p>
                      </div>
                    </div>
                  </div>


                  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

              </div>
          </div>
      </div>

      <div class="articles-grid articles-grid-shop uk-margin-large-top uk-margin-large-bottom">
          <h2>Boutique en avant</h2>

          <!-- Au clic sur une boutique -->

          <div id="modal-center" class="uk-modal-center" uk-modal>
              <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

                  <button class="uk-modal-close-outside" type="button" uk-close></button>

                  <div class="uk-modal-body" uk-overflow-auto>
                      <div class="uk-position-relative">
                          <img src="assets/img/KFC-reaches.png" alt="">
                          <i class="fas fa-heart uk-modal-close-default"></i>
                          <div class="uk-overlay uk-overlay-defaut uk-position-bottom">
                              <div class="infos">
                                  <span>Chez KFC</span>
                                  <div class="stars">

                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="description-shop">
                          <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit.
                              Natus aspernatur omnis ducimus sunt corrupti quis?
                          </p>
                          <div class="contacts">
                              <div class="location">
                                  <span uk-icon="location"></span>
                                  <span>Marcoy Résidentiel</span>
                              </div>
                              <div class="phone">
                                  <span uk-icon="receiver"></span>
                                  <span>07 97 665 232</span>
                              </div>
                          </div>
                      </div>
                      <h3>Articles</h3>
                      <div class="cards">
                          <div class="card">
                              <img src="assets/img/KFC-reaches.png" alt="">
                              <div class="description">
                                  <div class="prix-stars">
                                      <span class="title">Burger</span>
                                      <span class="prix">9 000 F</span>
                                      <div class="stars">

                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="card">
                              <img src="assets/img/pharmacie.png" alt="">
                              <div class="description">
                                  <div class="prix-stars">
                                      <span class="title">Comprimés</span>
                                      <span class="prix">9 000 F</span>
                                      <div class="stars pharma">

                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="card">
                              <img src="assets/img/KFC-reaches.png" alt="">
                              <div class="description">
                                  <div class="prix-stars">
                                      <span class="title">Burger</span>
                                      <span class="prix">9 000 F</span>
                                      <div class="stars">

                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="card">
                              <img src="assets/img/pharmacie.png" alt="">
                              <div class="description">
                                  <div class="prix-stars">
                                      <span class="title">Comprimés</span>
                                      <span class="prix">9 000 F</span>
                                      <div class="stars pharma">

                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="card">
                              <img src="assets/img/KFC-reaches.png" alt="">
                              <div class="description">
                                  <div class="prix-stars">
                                      <span class="title">Burger</span>
                                      <span class="prix">9 000 F</span>
                                      <div class="stars">

                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="card">
                              <img src="assets/img/pharmacie.png" alt="">
                              <div class="description">
                                  <div class="prix-stars">
                                      <span class="title">Comprimés</span>
                                      <span class="prix">9 000 F</span>
                                      <div class="stars pharma">

                                      </div>
                                  </div>
                              </div>
                          </div>
                          <a href="#">Voir plus...</a>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Begin card boutique en avant -->
          <div class="cards-shop">
              <div class="card card-shopping" href="#modal-center" uk-toggle>
                  <img src="assets/img/KFC-reaches.png" alt="">
                  <div class="description">
                      <div class="prix-stars">
                          <a href="#">Burger</a>
                          <div class="stars">

                          </div>
                      </div>
                  </div>
              </div>
              <div class="card card-shopping">
                  <img src="assets/img/KFC-reaches.png" alt="" href="#modal-center" uk-toggle>
                  <div class="description">
                      <div class="prix-stars">
                          <a href="#">Pharmacie de garde</a>
                          <div class="stars pharma">

                          </div>
                      </div>
                  </div>
              </div>
              <div class="card card-shopping">
                  <img src="assets/img/KFC-reaches.png" alt="" href="#modal-center" uk-toggle>
                  <div class="description">
                      <div class="prix-stars">
                          <a href="#">Vente d'habits</a>
                          <div class="stars">

                          </div>
                      </div>
                  </div>
              </div>
              <div class="card card-shopping">
                  <img src="assets/img/KFC-reaches.png" alt="" href="#modal-center" uk-toggle>
                  <div class="description">
                      <div class="prix-stars">
                          <a href="#">Chez KFC</a>
                          <div class="stars">

                          </div>
                      </div>
                  </div>
              </div>
              <div class="card card-shopping">
                  <img src="assets/img/KFC-reaches.png" alt="" href="#modal-center" uk-toggle>
                  <div class="description">
                      <div class="prix-stars">
                          <a href="#">Chez pizza hut</a>
                          <div class="stars">

                          </div>
                      </div>
                  </div>
              </div>
              <div class="card card-shopping">
                  <img src="assets/img/KFC-reaches.png" alt="" href="#modal-center" uk-toggle>
                  <div class="description">
                      <div class="prix-stars">
                          <a href="#">Pharmacie de garde</a>
                          <div class="stars pharma">

                          </div>
                      </div>
                  </div>
              </div>
          <!-- End card boutique en avant -->
      </div>

      <div uk-grid class="uk-child-width-1-2@s uk-margin-large-top uk-margin-large-bottom">
          <div>
              <img src="assets/img/img1.png" alt="">
          </div>
          <div>
              <img src="assets/img/img2.png" alt="">
          </div>
      </div>

      <div class="articles-grid articles-grid-prod uk-margin-large-top uk-margin-large-bottom">
          <div class="page">
              <p class="uk-margin-remove uk-text-medium">Articles</p>
          </div>
          <div class="cards">
              <div class="card card-shopping">
                  <img src="assets/img/pharmacie.png" alt="">
                  <div class="description">
                      <div class="prix-stars">
                          <span class="title">Comprimés</span>
                          <span class="prix">9 000 F</span>
                          <div class="stars">

                          </div>
                      </div>
                  </div>
              </div>

              <div class="card card-shopping">
                  <img src="assets/img/pizza.png" alt="">
                  <div class="description">
                      <div class="prix-stars">
                          <span class="title">Pizza</span>
                          <span class="prix">9 000 F</span>
                          <div class="stars">

                          </div>
                      </div>
                  </div>
              </div>
              <div class="card card-shopping">
                  <img src="assets/img/samsungA12.jpeg" alt="">
                  <div class="description">
                      <div class="prix-stars">
                          <span class="title">Samsung A12</span>
                          <span class="prix">9 000 F</span>
                          <div class="stars">

                          </div>
                      </div>
                  </div>
              </div>
              <div class="card card-shopping">
                  <img src="assets/img/pagne.jpeg" alt="">
                  <div class="description">
                      <div class="prix-stars">
                          <span class="title">Pagne</span>
                          <span class="prix">9 000 F</span>
                          <div class="stars">

                          </div>
                      </div>
                  </div>
              </div>
              <div class="card card-shopping">
                  <img src="assets/img/pizza3.png" alt="">
                  <div class="description">
                      <div class="prix-stars">
                          <span class="title">Pizza</span>
                          <span class="prix">9 000 F</span>
                          <div class="stars">

                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>

